#Wrapper{
	.Content{
		.BlockContent{
			.AccountLogin{
				h2{
					text-align:center;
				}
				a{
					color: white; 
                    display: block;
                    margin: 24px 0 0 0;
                    background-color: #852201;
                    border: 1px solid #2a1205;
                    border-radius: 5px;
                    text-align: center;
                    padding: 7px 0px 7px 0px;
                    position: relative;
                    min-width: 120px;
                    min-height: 28px;
					}
				.FormContainer{
					.Submit{
						input{
							color: white; 
                            display: block;
                            margin: 24px 0 0 0;
                            background-color: #852201;
                            border: 1px solid #2a1205;
                            border-radius: 5px;
                            text-align: center;
                            padding: 7px 0px 7px 0px;
                            position: relative;
                            min-width: 120px;
                            min-height: 28px;
                        	}
						}
					}
			}
		}
	}
}